/*header*/

#header {
    padding: 11px;
    box-sizing: border-box;
    width: 100%;
}

#header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header img {
    width: 30%;
}

#header ul li:nth-child(2) {
    cursor: pointer;
    background-color: #3692ff;
    box-sizing: border-box;
    padding: 11px 43px;
    border-radius: 8px;
}

#header ul li:nth-child(2) a {
    color: #fff;
}

/*visual*/

#visual img {
    cursor: pointer;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*container*/

#container {
    width: 100%;
}

#container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 138px 0;
}

section ul li > .blue_txt {
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    margin-bottom: 12px;
    color: #3692ff;
    font-size: 18px;
}

section ul li h2 {
    font-size: 40px;
    color: #374151;
    margin-bottom: 24px;
}

section ul li p {
    font-size: 24px;
    font-weight: 500;
    color: #374151;
}

.con1 ul li:nth-child(2),
.con2 ul li:nth-child(1),
.con3 ul li:nth-child(2) {
    width: auto;
    padding: 60px;
    box-sizing: border-box;
    height: 444px;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.con4 img {
    display: block;
    width: 100%;
}

/*footer*/

#footer a {
    color: #fff;
}

#footer {
    color: #fff;
    width: 100%;
    background-color: #111827;
}

#footer i {
    width: 18px;
}

#footer .icon {
    display: flex;
    justify-content: center;
    gap: 12px;
}

#footer > ul:nth-child(1) {
    align-items: center;
    padding-top: 35px;
    padding-bottom: 112px;
    display: flex;
    justify-content: space-around;
}

#footer > ul:nth-child(1) li:nth-child(1) {
    color: #9ca3af;
}
